                <h1>Establecimientos</h1>
                <div class="registrarestablecimiento">
                    <a href="registrarestablecimiento.html">Registra aqui tu establecimiento</a>
                </div>

                <div class="product_box">
                    <a href="" class="pirobox"><img src="" alt="image" class="img"/></a>
                    <h4>Nombre Establecimiento</h4>
                    <p> Dirección </p>
                    <p> Teléfono </p>
                    <p> Web </p>
                    <button type="button" class="btn btn-default button">Ver</button>
                </div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-1"></div>
	</div>
