<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="ABP_G44">
	
	<title>ZOTZ</title> <!-- Titulo de la pestaña -->
	<link rel="shortcut icon" href="img/zotz.ico" /> <!-- Icono de la pestaña -->
	
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
	<header>
		<div class="col-xs-12 col-sm-12 col-md-1"></div>
		<div id="cabecera" class="col-xs-12 col-sm-12 col-md-10">
			<a href="index.html">
				<img id="logo" src="./img/zotz.png">
				<h6>ZOTZ</h6>
			</a>
			<!-- Barra de Navegación Principal con Menú desplegable lateral -->
			<nav class="navbar navbar-default menu_principal" role="navigation">
				<!-- Minibotón para móviles -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle mini_menu" data-toggle="collapse" data-target="#mini_menu">
						<span class="sr-only">Desplegar navegación</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				
				<!-- Menú Principal -->
				<div id="mini_menu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="pinchos.html">Pinchos</a></li>
						<li><a href="establecimientos.html">Establecimientos</a></li>
						<li><a href="juradoprofesional.html">Jurado</a></li>
						<li><a href="mapa.html">Mapa</a></li>
						<li><a href="folleto.html">Folleto</a></li>
						<li><a href="#" data-toggle="modal" data-target="#login">Registrarse</a></li>
					</ul>
					
					<!-- Buscador -->
					<!-- <form class="navbar-form navbar-left" role="search"> -->
						<!-- <div class="form-group"> -->
							<!-- <input type="text" class="form-control" placeholder="Buscar"> -->
						<!-- </div> -->
						<!-- <button type="submit" class="btn btn-default">Enviar</button> -->
					<!-- </form> -->
				</div>
			</nav>
		</div>
		<div class="completar col-xs-12 col-sm-12 col-md-1"></div>
	</header>
	
	<div class="clear completar col-xs-12 col-sm-12 col-md-1"></div>
	<div id="main" class="col-xs-12 col-sm-12 col-md-10">
		<div class="row col-xs-12 col-sm-12 col-md-12">
			<div id="menuActor" class="col-xs-12 col-sm-3 col-md-3">
				<h5>Mi Menu</h5>
                <!-- Menú para Organizador -->
                <ul class="categories_list">
                    <li><a href="propuestasgastronomicas.html">Propuestas Gastronomicas</a></li>
                    <!-- <li><a href="seleccionarfinalistas.html">Seleccionar Finalistas</a></li>-->
                    <li><a href="#" data-toggle="modal" data-target="#seleccionarFinalistas">Seleccionar Finalistas</a></li>
                    <li><a href="registrarjuradoprofesional.html">Registrar Jurado Profesional</a></li>
                    <li><a href="asignarpinchojuradoprofesional.html">Asignar Pincho Jurado Profesional</a></li>
                </ul>
                <!-- Menú para Establecimiento -->
                <ul class="categories_list">
                    <li><a href="modificarestablecimiento.html">Mi establecimiento</a></li>
                    <li><a href="gestionpinchos.html">Mis Pinchos</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#generarCodigos">Generar Códigos</a></li>
                </ul>
                <!-- Menú para Jurado Popular -->
                <ul class="categories_list">
                    <li><a href="votarjuradopopular.html">Votar</a></li>
                </ul>
			</div>
			<div id="contenido" class="col-xs-12 col-sm-9 col-md-9">   
                <h1>Establecimientos</h1>
                <div class="registrarestablecimiento">
                    <a href="registrarestablecimiento.html">Registra aqui tu establecimiento</a>
                </div>
                
                <div class="product_box">
                    <a href="" class="pirobox"><img src="" alt="image" class="img"/></a>
                    <h4>Nombre Establecimiento</h4>
                    <p> Dirección </p>
                    <p> Teléfono </p>
                    <p> Web </p>
                    <button type="button" class="btn btn-default button">Ver</button>
                </div>
                
                <div class="product_box">
                    <a href="" class="pirobox"><img src="" alt="image" class="img"/></a>
                    <h4>Nombre Establecimiento</h4>
                    <p> Dirección </p>
                    <p> Teléfono </p>
                    <p> Web </p>
                    <button type="button" class="btn btn-default button">Ver</button>
                </div>
                
                <div class="product_box">
                    <a href="" class="pirobox"><img src="" alt="image" class="img"/></a>
                    <h4>Nombre Establecimiento</h4>
                    <p> Dirección </p>
                    <p> Teléfono </p>
                    <p> Web </p>
                    <button type="button" class="btn btn-default button">Ver</button>
                </div>
                
                <div class="product_box">
                    <a href="" class="pirobox"><img src="" alt="image" class="img"/></a>
                    <h4>Nombre Establecimiento</h4>
                    <p> Dirección </p>
                    <p> Teléfono </p>
                    <p> Web </p>
                    <button type="button" class="btn btn-default button">Ver</button>
                </div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-1"></div>
	</div>
	
	<!-- Seleccionar Finalistas Modal Page -->
    <div class="modal fade" id="seleccionarFinalistas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- Contenido de la página modal -->
                <div class="modal-body">
                    <form  id="nfinalistas" method="post">
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <div>
                                    <h4>Número de Finalistas</h4>
                                </div>
                                <input type="number" class="form-control" placeholder="Número de Finalistas" id="nfinalista" required data-validation-required-message="Intruduzca el número de finalistas">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a href="seleccionarfinalistas.html"><button type="submit" class="btn btn-register">Seleccionar Finalistas</button></a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Generar Códigos Modal Page -->
    <div class="modal fade" id="generarCodigos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- Contenido de la página modal -->
                <div class="modal-body">
                    <form  id="codigos" method="post">
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <div>
                                    <h4>Código</h4>
                                </div>
                                <div>
                                    <h1 id="code">ASFKJ777</h1>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Login Modal Page -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="registro.html"><button type="button" class="btn btn-register">Registrarse</button></a>
                    <h4 class="modal-title" id="myModalLabel">Registro</h4>
                </div>

                <!-- Contenido de la página modal -->
                <div class="modal-body">
                    <form name="sentMessage" id="loginForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Login</label>
                                <input type="text" class="form-control" placeholder="Login" id="login" required data-validation-required-message="Introduzca su login">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña" id="password" required data-validation-required-message="Introduzca su contraseña">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn-login">Iniciar sesion</button>
                </div>
            </div>
        </div>
    </div>
	
</body>

<footer>
	<div class="clear col-xs-12 col-sm-12 col-md-1"></div>
	<div class="col-xs-12 col-sm-12 col-md-10">
		<hr class="small">
        <p class="footer-autores">Copyright &copy; ZOTZ 2015 - ABP_G44</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-1"></div>
</footer>

</html>