<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="ABP_G44">

	<title>ZOTZ</title> <!-- Titulo de la pestaña -->
	<link rel="shortcut icon" href="img/zotz.ico" /> <!-- Icono de la pestaña -->

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

	<header>
		<div class="col-xs-12 col-sm-12 col-md-1"></div>
		<div id="cabecera" class="col-xs-12 col-sm-12 col-md-10">
			<a href="index.html">
				<img id="logo" src="./img/zotz.png">
				<h6>ZOTZ</h6>
			</a>
			<!-- Barra de Navegación Principal con Menú desplegable lateral -->
			<nav class="navbar navbar-default menu_principal" role="navigation">
				<!-- Minibotón para móviles -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle menu_min" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Desplegar navegación</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Menú Principal -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="pinchos.html">Pinchos</a></li>
						<li><a href="establecimientos.html">Establecimientos</a></li>
						<li><a href="juradoprofesional.html">Jurado</a></li>
						<li><a href="mapa.html">Mapa</a></li>
						<li><a href="folleto.html">Folleto</a></li>
						<li><a href="" data-toggle="modal" data-target="#login">Registrarse</a></li>
						<!-- Menú Personalizado para cada actor -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mi Menú<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<!-- Menú para Organizador -->
								<li><a href="propuestasgastronomicas.html">Propuestas Gastronomicas</a></li>
			                    <!-- <li><a href="seleccionarfinalistas.html">Seleccionar Finalistas</a></li>-->
			                    <li><a href="" data-toggle="modal" data-target="#seleccionarFinalistas">Seleccionar Finalistas</a></li>
			                    <li><a href="registrarjuradoprofesional.html">Registrar Jurado Profesional</a></li>
			                    <li><a href="asignarpinchojuradoprofesional.html">Asignar Pincho Jurado Profesional</a></li>
			                    <!-- Menú para Establecimiento -->
			                    <li class="divider"></li>
			                    <li><a href="modificarestablecimiento.html">Mi establecimiento</a></li>
			                    <li><a href="gestionpinchos.html">Mis Pinchos</a></li>
			                    <li><a href="" data-toggle="modal" data-target="#generarCodigos">Generar Códigos</a></li>
			                    <!-- Menú para Establecimiento -->
			                    <li class="divider"></li>
			                    <li><a href="votarjuradopopular.html">Votar</a></li>
							</ul>
						</li>
					</ul>

					<!-- Buscador -->
					<!-- <form class="navbar-form navbar-left" role="search"> -->
						<!-- <div class="form-group"> -->
							<!-- <input type="text" class="form-control" placeholder="Buscar"> -->
						<!-- </div> -->
						<!-- <button type="submit" class="btn btn-default">Enviar</button> -->
					<!-- </form> -->
				</div>
			</nav>
		</div>
		<div class="completar col-xs-12 col-sm-12 col-md-1"></div>
	</header>

<!-- </body>
</html> -->
